.howto{
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(224, 251, 252); */
    background-color: #c47dcf;
    margin: 0px;
    border: 0px;
    
    
    
}

.howto-text p {
    width: 50%;
    text-align: center;
}


.howto-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.howto-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: fit-content;
    max-height: fit-content;   
}

.howto-line-block {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(221, 221, 221, 0.616); */
    background-color: #d19cda;
    height: 250px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    text-align: center;
    
}

.howto-list h1 {
    text-align: center;
    margin-right: 2%;
}

@media only screen and (max-width: 1000px) {
    .howto-list {
        display: flex;
        flex-wrap: wrap;
    }

    .howto {
        min-height: fit-content;
        flex-wrap: wrap;
    }
}