.intro {
    
    border: 0;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.intro-area{
    display: flex;

    width: 700px;
    height: 500px;

    justify-content: center;
    
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: #FFCCCC;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);

    transition: background-color 0.5s, transform 0.5s;

    flex-wrap: wrap;
    border-radius: 25%;
}


.intro-area:hover {
    
    background-color: #c47dcf;
    transform: scale(1.2);
    
}



/* .intro-text{
    display: flex;

} */

.intro-image{
    height: 200px;
    width: 400;
    display: flex;
    justify-content: center;
    background-color: rgb(239, 247, 255);
    border-radius: 35%;
}

.intro-text {
    font-size: 20px;
    color: #5e2766;
}

.button{
    border: 0;
    padding: 10px 20px;
    font-size: 20px;
    /* background-color: #8c4c96; */
    background-color: rgb(204, 188, 207);
    width: 80px;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* .about-me{
    text-decoration: none;
} */
a {
    text-decoration: none;
}

.button:hover {
    background-color: #8c4c96;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

@media only screen and (max-width: 750px) {

    .intro-area {
        max-width: 450px;
        max-height: 550px;
    }

    .intro-area:hover {
        transform: scale(0.8);
    }

}