.pricing{
    /* width: 100%;
    height: 100%; */
    display: flex;
    /* background-color: rgb(152, 193, 217); */
    background-color: #f9f9f9;
    height: 45vh;
    justify-content: center;
    flex-direction: column;
    
    /* flex-wrap: wrap; */
}

.pricing-title {
    display: flex;;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 5%; */
    margin-top: 5%;
    font-size: 35px;
    color: #73026b;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 200px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5%;
    text-align: center;
    
 }

 .pricing-container {
     display: flex;
     flex-direction: row;
     justify-content: center;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 5%;
 }

.price {
    display: flex;
    /* margin-bottom: 5%; */
    font-size: 70px;
    color: #060359;
}

.minutes {
    font-size: 30px;
    color: #2b0f2f;
}

.price-description {
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding-top: 5%;
    color: #2b0f2f;
}

 .pricing-icon {
     height: 50px;
     width: 50px;
 }

 .card-text{
     display: flex;
 }


 @media only screen and (max-width: 1000px) {
    .pricing {
        max-width: 1000px;
        min-height: fit-content;
        
    }
}