.therapist-section {
    display: flex;
    background-color: #c47dcf;
    height: 85vh;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;

}

.therapist-box{
    display: flex;
    height: 100%;
    width: 100%;

    /* background-color: rgba(195, 196, 183, 0.74); */

    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.therapist-title {
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items: center;
    color: #f9f9f9;
    margin-bottom: 5%;
    width: 100%;
    flex-wrap: wrap;
    /* background-color: #060359; */
}

.therapist-title p {
    width: 20%;
    text-align: center;
}

.therapist-container {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     width: 90%;
     margin-bottom: 5%;
     /* flex-wrap: wrap; */
}

.therapist-card {
    display: flex;
    width: 250px;
    height: 450px;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    background-color: #d19cda;
    border: 2px solid #71277d;
    box-shadow: 5px 5px 5px #060359;
    border-bottom: 5%;
    

}

@media only screen and (max-width: 750px) {
    .therapist-section {
        display: flex;
        flex-wrap: wrap;
        
        /* flex-direction: column; */
    }

    /* .therapist-title {
        display: flex;
        flex-wrap: wrap;
        min-height: fit-content;
    }

    .therapist-container {

        display: flex;
        flex-wrap: wrap;
    }

    .therapist-card {
        display: flex;
        flex-wrap: wrap;
        max-height: fit-content;
    }

    .therapist-box {
        display: flex;
        flex-wrap: wrap;
    } */


}